.gallery .section-title {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 37px;
    font-weight: 400;
    letter-spacing: .2px;
    color: #404040;
    text-transform: uppercase;
    border-bottom: 3px solid var(--color-primary);
}

.gallery .section-title span {
    font-size: 37px;
    font-weight: 600;
}

body.dark .gallery .section-title {
    color: rgba(255,255,255,.8);
}

body.dark .gallery .section-title span {
    color: #FFFFFF;
}

.gallery .gallery-content {
    display: grid;
    height: 95vh;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "img1 img2 img3 img3 img3"
    "img4 img5 img3 img3 img3"
    "img4 img5 img3 img3 img3"
    "img6 img6 img6 img7 img8"
    "img6 img6 img6 img7 img8"
    "img6 img6 img6 img9 img10";
    gap: 5px;
}

.gallery .gallery-content .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .gallery-content .gallery-img:hover {
    filter: brightness(0.5);
    cursor: pointer;
    transition: filter .5s;
}

.gallery .gallery-content .img-1 {
    grid-area: img1;
}

.gallery .gallery-content .img-2 {
    grid-area: img2;
}

.gallery .gallery-content .img-3 {
    grid-area: img3;
}

.gallery .gallery-content .img-4 {
    grid-area: img4;
}

.gallery .gallery-content .img-5 {
    grid-area: img5;
}

.gallery .gallery-content .img-6 {
    grid-area: img6;
}

.gallery .gallery-content .img-7 {
    grid-area: img7;
}

.gallery .gallery-content .img-8 {
    grid-area: img8;
}

.gallery .gallery-content .img-9 {
    grid-area: img9;
}

.gallery .gallery-content .img-10 {
    grid-area: img10;
}

.lightbox {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
    z-index: 1;
}

.move {
    transform: translateX(0);
}

.img-show {
    height: 80%;
    transform: scale(0);
    display: block;
    object-fit: cover;
    transition: transform .2s .4s;
}

.show {
    transform: scale(1);
}

.icon-close {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}



@media (max-width: 992px){
    .gallery .gallery-content {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        grid-template-areas: 
        "img1 img2"
        "img3 img4" 
        "img6 img5"
        "img7 img8" 
        "img9 img10";
    }

    .img-show {
        width: 95%;
        object-fit: contain;
    }
}