
.header {
    /* background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../assets/images/homev4.jpg) no-repeat; */

    background: url(../assets/images/home4.jpg) no-repeat center;

    background-size: cover;
    /* background-position: 60%; */
    /* min-height: 40vh; */
    height: 94vh;
}

/* .video-container {
    z-index: -100;
    width: 100%;
    height: 94vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

body.dark .header {
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../assets/images/home4.jpg) no-repeat center;
    background-size: cover;
} 

.header .home h1.demo {
    margin-top: 50px;
}

.header .home h1.title-home {
    color: #fff;
    font-family: 'Hind Siliguri', sans-serif;
    text-transform: uppercase;
    /* filter: drop-shadow(0 0 5px #000); */
    filter: drop-shadow(2px 3px 1px #000);
    font-size: 50px;
    font-weight: 800;
}

.search {
    /* margin-top: -85px; */
    /* background: #FBFBFD; */
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #FFFFFF;
    /* font-size: 10px; */
    box-shadow: 0 2px 1px -2px #111;
}

body.dark .search {
    /* background: rgba(32, 32, 32, .8); */
    background: #212529;
    border: 1px solid #212529;
    box-shadow: 0 2px 1px -2px #969696;
}

.search input {
    font-size: 15px;
}

.search span.input-group-text {
    background: #FFFFFF;
}

.search i {
    /* color: #538083; */
    color: #a9b5c1;
}

.search_title {
    margin-top: -85px;
    /* background: #FBFBFD; */
    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #FFFFFF;
}

body.dark .search_title {
    background: #212529;
    border: 1px solid #212529;
}

.search_title h5 {
    /* font-size: 20px; */
    font-weight: 600;
    font-family: 'Hind Siliguri', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 0;
    padding-top: 5px;
    /* color: #404040; */
}

body.dark .search_title h5 {
    color: #FFFFFF;
}

.search .search_content button.button-search i.fa-search {
    /* color: #fff; */
    /* color: #424D58; */
    color: #000;
}

.search .search_content button.button-search {
    /* background: #0582CA;
    color: #fff; */
    background: var(--color-primary);
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
    font-weight: 700;
    /* padding: 10px 30px; */
    text-transform: uppercase;
    border: 2px solid var(--color-primary);
    /* color: #424D58; */
    color: #000;
    /* border-radius: 0; */
}

.search .search_content button.button-search:hover {
    /* box-shadow: 0 0 3px #000; */
    background: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    color: var(--color-primary);
}

.search .search_content button.button-search:hover i.fa-search {
    color: var(--color-primary);
}


/* ----------------------------------- navbar -------------------------------- */

body.dark .navbar {
    box-shadow: none;
}

.navbar .navbar-brand__img {
    width: 100px;
    /* filter: drop-shadow(0 0 30px #000); */
    /* filter: drop-shadow(0 0 5px #000); */
    filter: drop-shadow(3px 3px 2px #000);
}

.navbar ul.navbar-nav li.nav-item a.nav-link {
    /* color: #000; */
    color: #FFFFFF;
    filter: drop-shadow(2px 1px 1px #000);
}

.header .navbar {
    background-color: transparent !important;
}

.navbar .nav-link {
    color: #000;
    /* color: #fff; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Hind Siliguri', sans-serif;
    /* text-transform: uppercase; */
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 600;
    font-size: 20px;
}

/* .navbar li.nav-item i {
    color: #000;
} */

.navbar .nav-link.dropdown-toggle {
    color: #000;
}

.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #FACC01;
    filter: drop-shadow(0 0 2px #000);
}

.navbar .dropdown-item {
    filter: drop-shadow(0 0 2px #fff);
}

.navbar .dropdown-item:hover {
    color: #FACC01;
    background: transparent;
    filter: drop-shadow(0 0 2px #000);
}

.navbar .dropdown-menu {
    background: transparent !important;
    border: 0;
}

.navbar .dropdown-menu a {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navbar .flags {
    width: 20px;
}

.navbar .navbar-toggler {
    border: 2px solid #fff;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAKUlEQVRIiWNgGAWjgOrgP4Vg4C0YBSQDmsfBaCQPTkDzOBiN5FFAXwAAeFsW+Ez7mfAAAAAASUVORK5CYII=");
}


@media (max-width: 768px) {
    .search {
        border-radius: 0 0 10px 10px;
    }

    .header .home h1.demo {
        margin-top: 50px;
    }

    .navbar .navbar-brand__img {
        /* filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6)); */
        filter: drop-shadow(3px 3px 2px #000);
    }

    .title-reduce {
        /* margin-top: 0 !important; */
        /* font-size: 28px !important; */
        display: none;
        transition: 3s ease;
    }

    /* .title-small {
        font-size: 10px !important;
    } */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {
    .title-reduce {
        display: none;
        transition: 3s ease;
    }
}