.in-num {
	background: #FFFFFF !important;
	font-weight: 800;
	padding-left: 0;
	padding-right: 0;
}

span.minus, span.plus {
	font-weight: 600;
	cursor: pointer;
	background: rgba(169, 181, 193, .1) !important;
}

body.dark span.minus, body.dark span.plus {
	background: rgba(255,255,255,.9) !important;
}