@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600;800&display=swap');

body {
    background: #FFFFFF;
    /* tipografia para parrafos y texto en general  */
    font-family: 'Montserrat', sans-serif;
    /* tipografia para titulares y cabeceras */
    /* font-family: 'Poppins', sans-serif;  */
    transition: .4s ease all;
}

body.dark {
    background: #212529;
}

.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    background: none;
    color: #fff;
}

/* ----------------------------------------- navbar ------------------------------------- */

body.dark .navbar {
    box-shadow: 0 2px 1px -2px #969696;
}

.navbar .navbar-brand__img {
    width: 55px;
}

.navbar .nav-link {
    color: #fff;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.navbar li.nav-item i {
    color: #fff;
}

.navbar .nav-link.dropdown-toggle {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #FACC01;
}

.navbar .dropdown-item:hover {
    color: #FACC01;
    background: #212529;
}

.navbar .dropdown-menu {
    background: #212529;
}

.navbar .dropdown-menu a {
    color: #fff;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.navbar .flags {
    width: 20px;
}

.navbar .navbar-toggler {
    border: 2px solid #fff;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAKUlEQVRIiWNgGAWjgOrgP4Vg4C0YBSQDmsfBaCQPTkDzOBiN5FFAXwAAeFsW+Ez7mfAAAAAASUVORK5CYII=");
}


/* --------------------------------------- service-list -------------------------------- */

h5.list {
    font-family: 'Poppins', sans-serif;
}

body.dark h5.list {
    color: #fff;
}

.service-list {
    background: #FBFBFD;
    margin-bottom: 0;
    font-size: 15px;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

body.dark .service-list {
    background: rgba(32, 32, 32, .8);
    border: 0;
    box-shadow: 0 1px 1px rgba(150, 150, 150, .2);
}

/* ------ section left ------------ */

.service-list .left h4.title-service {
    line-height: 1;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    color: #FF8427;
}

.service-list .left img.service-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.service-list .left ul, li {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.service-list .left i.icons-specifications {
    color: #538083;
    margin-right: 5px;
}

.service-list .left i.icons-specifications.icon-second {
    margin-right: 8px;
}

.service-list .left li.specifications {
    font-size: 14px;
}

body.dark .service-list .left li {
    /* color: #a7a7a7; */
    color: #FFFFFF;
}

.service-list .left ul.buttons li.btn-green {
    background: #EDFDF3;
    color: #2F6339;
    font-size: 10px;
    width: 160px;
    font-weight: 600;
    text-transform: uppercase;
}

body.dark .service-list .left ul.buttons li.btn-green {
    background: none;
    border: 1px solid #2F6339;
    color: #2F6339;
}

.service-list .left ul.buttons li.btn-blue {
    background: #EDF5FF;
    color: #245AC2;
    font-size: 10px;
    width: 130px;
    font-weight: 600;
    text-transform: uppercase;
}

body.dark .service-list .left ul.buttons li.btn-blue {
    background: none;
    border: 1px solid #245AC2;
    color: #245AC2;
}

/* ------ section right ------------ */

.service-list .right ul.table-row {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    list-style: none;
}

.service-list .right ul, li {
    padding-left: 0;
    margin-left: 0;
}

body.dark .service-list .right li {
    /* color: #969696; */
    color: #FFFFFF;
}

.service-list .right ul.table-row > :nth-child(2) {
    background: rgba(213, 218, 236, .17);
    margin-right: 5px;
}

body.dark .service-list .right ul.table-row > :nth-child(2) {
    background: rgba(213, 218, 236, .04);
}

.service-list .right ul.table-row > :nth-child(3) {
    background: rgba(213, 218, 236, .17);
    margin-left: 5px;
}

body.dark .service-list .right ul.table-row > :nth-child(3) {
    background: rgba(213, 218, 236, .04);
}

.service-list .right .title-eco,
.service-list .right .title-pre {
    color: #0582CA;
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
}

body.dark .service-list .right .title-eco,
body.dark .service-list .right .title-pre {
    color: #0582CA;
}

.service-list .right ul.table-row li i.fa-check {
    color: #32CD32;
}

.service-list .right ul.table-row li i.fa-times {
    color: #FF1544;
}

.service-list .right ul.table-row li.price-eco {
    /* color: #00CE7C; */
    color: #0582CA;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

.service-list .right ul.table-row button.button-eco {
    /* background: #00CE7C; */
    background: #0582CA;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    /* border: 0; */
    border: 2px solid #0582CA;
}

.service-list .right ul.table-row button.button-eco:hover {
    /* box-shadow: 0 0 3px #000;
    color: #000; */
    background: rgba(5, 130, 202, 0.2);
    color: #0582CA;
}

.service-list .right ul.table-row li.price-pre {
    /* color: #FFA500; */
    color: #FF8427;;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

.service-list .right ul.table-row button.button-pre {
    background: #FF8427;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    /* border: 0; */
    border: 2px solid #FF8427;
}

.service-list .right ul.table-row button.button-pre:hover {
    /* box-shadow: 0 0 3px #000;
    color: #000; */
    background: rgba(255, 132, 39, 0.2);
    color: #FF8427;
}


/* ----------------------------------------- steps ------------------------------------- */

.steps {
    background: #FBFBFD;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); 
}

body.dark .steps {
    background: rgba(32, 32, 32, 0.8);
    border: 0;
    box-shadow: 0 1px 1px rgba(150, 150, 150, .2);
}

body.dark .nav-tabs {
    border-bottom: 0;
}

button.nav-link {
    color: #A6A6A8;
}

button.nav-link.active {
    color: #0582CA !important;
    font-weight: 600;
    background: #fff;
    border-bottom: 3px solid #0582CA !important;
}

body.dark button.nav-link.active {
    background: #e5e5e5;
}

button.nav-link:hover {
    color: #0582CA;
}


/* ------------------------------------ form-section ------------------------------------ */

.back {
    text-decoration: none;
    color: #0582CA;
}

.form-section {
    background: #FBFBFD;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

body.dark .form-section {
    background: rgba(32, 32, 32, 0.8);
    border: 0;
    box-shadow: 0 1px 1px rgba(150, 150, 150, .2);
}

.form-section h5 {
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
}

body.dark .form-section h5 {
    color: #FFFFFF;
}

body.dark .form-section input {
    background: #e5e5e5;
}

.form-section h5.title-arrival {
    /* color: #28AFB0; */
    color: #FF8427;
    font-size: 18px;
}

body.dark .form-section h5.title-arrival {
    color: #FF8427;
}

.form-section label {
    font-size: 15px;
}

body.dark .form-section label {
    color: #e5e5e5;
}

.form-section span {
    font-size: 15px;
}

.form-section .number__section {
    color: #D7D7D7;
    font-weight: 700;
}

body.dark .form-section .number__section {
    color: rgba(215, 215, 215, .5);
}

.form-section .input__icon {
    color: #538083;
}

.terms {
    font-size: 14px;
    /* margin-left: -10spx; */
    /* padding-left: 0; */
}

body.dark .terms {
    color: #e5e5e5;
}

.total {
    height: 70px;
}

body.dark .total {
    color: #e5e5e5;
}

.total .price {
    /* color: #FFA500; */
    color: #0582CA;
}

body.dark .total .price {
    color: #0582CA;
}


/* -------------------------------- reservation__summary ------------------------------ */

.reservation__summary {
    /* background: #fff; */
    background: #FBFBFD;
    font-size: 15px;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}


body.dark .reservation__summary {
    background: rgba(32, 32, 32, .8);
    border: 0;
    box-shadow: 0 1px 1px rgba(150, 150, 150, .2);
}

.reservation__summary .title__reservation {
    /* color: #FFA500;
    font-weight: 700; */
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    color: #FF8427;
}

.reservation__summary .icon-resume {
    /* color: #00BFFF; */
    color: #538083;
}

.reservation__summary .description {
    border-bottom: 2px solid #E9ECEF;
}

body.dark .reservation__summary p.title {
    color: #a7a7a7;
}

body.dark .reservation__summary p.description {
    color: #969696;
    border: 0;
    /* border-bottom: 1px solid #000; */
}

/* .reservation__summary .total {
    background: #FFA500;
    background: #F0C808;
    height: 50px;
} */


/* --------------------------------------- widgets ---------------------------------- */

.widget {
    background: #FBFBFD;
    font-size: 15px;
    border: 1px solid #dee2e6;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

body.dark .widget {
    background: rgba(32, 32, 32, 0.8);
    border: 0;
    box-shadow: 0 1px 1px rgba(150, 150, 150, .2);
}

.widget .title__widget {
    /* color: #FFA500; */
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    color: #FF8427;
}

.widget p {
    color: rgba(0, 0, 0, 0.6);
}

body.dark .widget p {
    color: #a7a7a7;
}

.widget p.text-phone {
    color: #000;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
}

body.dark .widget p.text-phone {
    color: #969696;
}

.widget .fa-check {
    color: #32CD32;
}


/* --------------------------------------- tours ------------------------------------ */

.tours-section h2 {
    font-family: 'Poppins', sans-serif;
}

body.dark .tours-section h2 {
    color: #FFFFFF;
}

.tours-section .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.tours-section .box-container .box {
    flex: 1 1 16rem;
    border-radius: .5rem;
    overflow: hidden;
    background: #FBFBFD;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

body.dark .tours-section .box-container .box {
    /* background: #232323;
    background: #3e4144; */
    background: rgba(32, 32, 32, 0.8);
    box-shadow: 0 1px 1px rgba(150, 150, 150, .2);
    /* box-shadow: none; */
}

body.dark .tours-section .box-container .box .content p {
    color: #a7a7a7;
}

.tours-section .box-container .box .img-content {
    overflow: hidden;
}

.tours-section .box-container .box .img-content img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
    transition: .3s ease all;
}

.tours-section .box-container .box:hover img {
    transform: scale(1.1);    
}

.tours-section .box-container .box .content {
    padding: 1rem;
}

.tours-section .box-container .box .content h4 {
    font-family: 'Poppins', sans-serif;
}

body.dark .tours-section .box-container .box .content h4 {
    color: #e5e5e5;
}

.tours-section .box-container .box .content h4 i {
    color: #538083;
}

.tours-section .box-container .box .content .stars i {
    color: #538083;
}

.tours-section .box-container .box .content .price {
    font-size: 18px;
    font-weight: 600;
}

body.dark  .box-container .box .content .price {
    color: #969696;
}

.tours-section .box-container .box .content .price span {
    color: #666;
    font-weight: 500;
    font-size: 14px;
    text-decoration: line-through;
}

.tours-section .box-container .box .content a.btn {
    background: #0582CA;
    color: #fff;
    border: 2px solid #0582CA;
}

.tours-section .box-container .box .content a.btn:hover {
    background: rgba(5, 130, 202, 0.2);
    color: #0582CA;
}

/* -------------------------------------------------------contact -------------------------------- */

#contact label {
    color: #000;
}

body.dark #contact label {
    color: #e5e5e5;
}

body.dark #contact input {
    background: #e5e5e5;
}

body.dark #contact textarea {
    background: #e5e5e5;
}

/* --------------------------------------- footer ------------------------------------ */

.bg-footer {
    background: #212529;
    color: #fff;
    font-size: 15px;
}

body.dark .bg-footer {
    box-shadow: 0 -2px 1px -2px #969696;
    /* box-shadow: 0px -15px 10px -15px #111;  */
}

.bg-footer h3 {
    color: #FACC01;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.bg-footer a {
    color: #fff;
    text-decoration: none;
}

.bg-footer img.logo {
    width: 100px;
}

.bg-footer img.flag {
    width: 25px;
}

.bg-footer a:hover {
    color: #FACC01;
    text-decoration: underline;
}

.bg-footer .copyright {
    border-top: 1px solid rgba(250, 204, 1, 0.5);
}

.bg-footer .copyright span, 
.bg-footer .copyright a {
    color: #FACC01;
}


/* -------------------------------------- media queries -------------------------------- */

@media (max-width: 450px){
    .service-list .right .title-eco,
    .service-list .right .title-pre {
        font-size: 14px;
    }
}