body {
    background: #F9F9F9;
}

/* ----------------------------------------- navbar ------------------------------------- */

.navbar .navbar-brand__img {
    width: 55px;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link.dropdown-toggle {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #FACC01;
}

.navbar .dropdown-item:hover {
    color: #FACC01;
    background: #212529;
}

.navbar .dropdown-menu {
    background: #212529;
}

.navbar .dropdown-menu a {
    color: #fff;
}

.navbar .flags {
    width: 20px;
}

.navbar .navbar-toggler {
    border: 2px solid #fff;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAKUlEQVRIiWNgGAWjgOrgP4Vg4C0YBSQDmsfBaCQPTkDzOBiN5FFAXwAAeFsW+Ez7mfAAAAAASUVORK5CYII=");
}


/* ----------------------------------------- steps ------------------------------------- */

.steps {
    background: #fff;
}

.step-one {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
}

.step-two {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
}

.step-three {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
}

.step-four {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.4);
}

.step-active {
    border-top: 3px solid #FFA500;
    color: #FFA500;
    font-weight: 700;
}

/* ----------------------------------------- form-section ------------------------------------- */

.form-section {
    background: #fff;
}

.form-section .number__section {
    color: #D7D7D7;
    font-weight: 700;
}

.form-section .input__icon {
    color: #0064FF;
}

/* ---------------------------------------------- total ------------------------------------- */

.total {
    height: 60px;
}

.total .price {
    color: #FFA500;
    font-weight: 700;
}

/* ------------------------------------ reservation__summary ------------------------------------- */

.reservation__summary {
    background: #fff;
}

.reservation__summary .title__reservation {
    color: #FFA500;
    font-weight: 700;
}

.reservation__summary .icon-resume {
    color: #00BFFF;
}

.reservation__summary .description {
    border-bottom: 2px solid #E9ECEF;
}

.reservation__summary .total {
    background: #FFA500;
    height: 50px;
}

/* ----------------------------------------------- widgets ------------------------------------- */

.widget {
    background: #fff;
}

.widget .title__widget {
    color: #FFA500;
    font-weight: 700;
}

.widget p {
    color: rgba(0, 0, 0, 0.6);
}

.widget p.text-phone {
    color: #000;
    font-weight: 600;
}

.widget .fa-check {
    color: #32CD32;
}

/* -------------------------------------------- footer ------------------------------------- */

.bg-footer {
    background: #212529;
    color: #fff;
}

.bg-footer h3 {
    color: #FACC01;
}

.bg-footer a {
    color: #fff;
    text-decoration: none;
}

.bg-footer img.logo {
    width: 100px;
}

.bg-footer img.flag {
    width: 25px;
}

.bg-footer a:hover {
    color: #FACC01;
    text-decoration: underline;
}

.bg-footer .copyright {
    border-top: 1px solid rgba(250, 204, 1, 0.5);
}

.bg-footer .copyright span, 
.bg-footer .copyright a {
    color: #FACC01;
}







/* ---------------------------------------- service-list ------------------------------------- */

.service-list {
    background: #fff;
    margin-bottom: 0;
}

/* ------ section left ------------ */

.service-list .left h4.title-service {
    color: #FFA500;
    font-weight: 600;
    line-height: 1;
}

.service-list .left img.service-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.service-list .left ul, li {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.service-list .left ul.buttons li.btn-green {
    background: #EDFDF3;
    color: #2F6339;
    font-size: 14px;
    width: 160px;
}

.service-list .left ul.buttons li.btn-blue {
    background: #EDF5FF;
    color: #245AC2;
    font-size: 14px;
    width: 130px;
}

/* ------ section right ------------ */

.service-list .right ul.table-row {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    list-style: none;
}

.service-list .right ul, li {
    padding-left: 0;
    margin-left: 0;
}

.service-list .right ul.table-row > :nth-child(2) {
    background: rgba(213, 218, 236, .17);
    margin-right: 5px;
}

.service-list .right ul.table-row > :nth-child(3) {
    background: rgba(213, 218, 236, .17);
    margin-left: 5px;
}

.service-list .right .title-eco,
.service-list .right .title-pre {
    color: #FFA500;
    font-weight: 700;
    font-size: 18px;
}

.service-list .right ul.table-row li i.fa-check {
    color: #32CD32;
}

.service-list .right ul.table-row li i.fa-times {
    color: #FF1544;
}

.service-list .right ul.table-row li.price-eco {
    color: #00CE7C;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

.service-list .right ul.table-row button.button-eco {
    background: #00CE7C;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    border: 0;
    /* display: flex;
    justify-content: center; */
}

.service-list .right ul.table-row button.button-eco:hover {
    box-shadow: 0 0 3px #000;
    color: #000;
}

.service-list .right ul.table-row li.price-pre {
    color: #FFA500;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

.service-list .right ul.table-row button.button-pre {
    background: #FFA500;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    border: 0;
    /* display: flex;
    justify-content: center; */
}

.service-list .right ul.table-row button.button-pre:hover {
    box-shadow: 0 0 3px #000;
    color: #000;
}




@media (max-width: 450px){
    .service-list .right .title-eco,
    .service-list .right .title-pre {
        font-size: 14px;
    }
}