.testimonials .section-title {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 37px;
    font-weight: 400;
    letter-spacing: .2px;
    color: #404040;
    text-transform: uppercase;
    border-bottom: 3px solid var(--color-primary);
}

.testimonials .section-title span {
    font-size: 37px;
    font-weight: 600;
}

body.dark .testimonials .section-title {
    color: rgba(255,255,255,.8);
}

body.dark .testimonials .section-title span {
    color: #FFFFFF;
}

.testimonials .testimony-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 0 !important;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px !important;
    height: 420px !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    filter: blur(4px);
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

body.dark .swiper-slide {
    /* background: rgba(0, 0, 0, 0.6); */
    background: rgb(21, 21, 21);
    /* background: rgba(32, 32, 32, .8); */
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none !important;
}

.swiper-slide-active {
    filter: blur(0);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 6px 0 5px -4px rgba(0, 0, 0, 0.2), -6px 0 5px -4px rgba(0, 0, 0, 0.2);
}

.testimonials .testimony-content .testimonialBox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    /* color: #999; */
    color: #404040;
    padding-bottom: 0;
    letter-spacing: .2px;
    font-family: 'Hind Siliguri', sans-serif;
}

body.dark .testimonials .testimony-content .testimonialBox {
    color: #B5B5B5;
}

.testimonials .testimony-content .testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
}

.testimonials .testimony-content .testimonialBox .details {
    display: flex;
    align-items: center;
}

.testimonials .testimony-content .testimonialBox .details .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.testimonials .testimony-content .testimonialBox .details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .testimony-content .testimonialBox .details .user {
    line-height: 1.1em;
}

.testimonials .testimony-content .testimonialBox .details .user h4 {
    font-size: 18px;
    /* color: #0582CA; */
    color: #404040;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 20px;
}

body.dark .testimonials .testimony-content .testimonialBox .details .user h4 {
    color: rgba(255,255,255,.8);
}

.testimonials .testimony-content .testimonialBox .details .user .stars {
    /* color: #FACB01; */
    color: var(--color-primary);
}

.testimonials .testimony-content .testimonialBox .details .user p {
    font-size: 12px;
    /* color: #666; */
    color: #B5B5B5;
}
